<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{category.nom}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_blue_color">
    <div id="container">
        <ion-row>
            <ion-col size="6"  *ngFor="let item of category.listPhotos;">
                <div class="documents_box">
                    <button  ion-button  (click)="OnDelet(item)">
                        <ion-icon name="trash" color="danger"></ion-icon>
                      </button>
                    <div class="img_box center_img" (click)="fullView(item)">
                        <img [src]="pathFile + '/'+ item.fichier" class="crop_img" />
                        <!--  <img [src]="'data:image/jpg;base64,'+ item.vignette" class="crop_img"> -->
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>


<ion-footer class="ion-no-border animate__animated animate__fadeInUp ">
    <ion-button size="large" expand="full" color="primary" class="ion-no-margin ion-text-capitalize" (click)="openCamera()">
        <ion-icon class="zmdi zmdi-camera"></ion-icon>
        Charger photo
    </ion-button>
</ion-footer>