ion-toolbar {
    ion-icon {
        color: var(--white);
        font-size: 25px;
    }
}

ion-footer {
    background-color: var(--primary);
}

#container {
    background: var(--bg-blue-color);
    ion-row {
        padding: 5px 3px 5px 3px;
        ion-col {
            padding: 2.5px 3px 2.5px 3px;
            .documents_box {
                position: relative;
                overflow: hidden;
                border-radius: 5px;
                height: 150px;
                padding: 5px;
                border: 2px solid var(--primary);
                .img_box {
                    width: 100%;
                    height: 137px;
                    text-align: center;
                }
                button {
                    background-color: var(--white);
                    padding: 2px;
                    border-radius: 10px;
                    position: absolute;
                    right: 9px;
                    z-index: 99;
                    top: 8px;
                    ion-icon{
                        font-size: 15px;
                    }
                  }
            }
        }
    }
}