<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="chevron-back-outline" mode='ios'></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Qui sommes-nous</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div id="container">
        <div class="text_box">
            <p class="animate__animated animate__fadeInUp">
                Nous sommes spécialisés dans <span class="bold-span">l’orthodontie du sourire </span> des jeunes enfants dès l'âge de 3 ans avec <span class="bold-span">le Régulateur
          de croissance contrôlée®</span>, qui corrige les malformations des mâchoires quand il est encore temps.
            </p>
            <p class="animate__animated animate__fadeInUp">
                Pour l’enfant, l’adolescent, l’adulte et le sénior, nous assurons une correction de <span class="bold-span">la malocclusion</span> avec des
                <span class="bold-span">appareillages invisibles</span> de haute technologie dont nous avons fait notre expertise. Depuis 2001,
            </p>
            <p class="animate__animated animate__fadeInUp">
                <span class="bold-span">B And Smile®</span> est un concept dédié à la recherche et au développement de l’orthodontie du sourire, esthétique et fonctionnelle en partenariat avec <span class="bold-span">l’ISFESO.</span>
            </p>
            <p class="animate__animated animate__fadeInUp">
                <span class="bold-span">B And Smile®</span> crée et commercialise une gamme de produits dédiés aux professionnels et tout public pour garantir l’efficacité et la qualité du traitement, de l’appareillage ainsi que pour assurer la beauté,
                la fraîcheur et la blancheur naturelle de votre sourire.
            </p>
            <div class="box-info">
                <p class="animate__animated animate__fadeInUp">
                    Nous vous invitons à découvrir notre large gamme de produits sur notre boutique virtuelle, il est possible de commander votre produit préféré en simplement quelques cliques.<br>
                    <a href="https://basmileshop.com/">https://basmileshop.com/</a>
                </p>
            </div>

        </div>
    </div>
</ion-content>