<ion-header >
    <ion-toolbar>
        <ion-buttons slot="end">
            <!--  <ion-icon class="zmdi zmdi-camera" (click)="openCamera()"></ion-icon> -->
            <ion-icon name="add-circle-outline" (click)="openCategPhoto()"></ion-icon>
        </ion-buttons>
        <ion-title>Photos</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
   

    <div id="container">
        <ion-row>
            <ion-col size="6" (click)="fullView(doc)" *ngFor="let doc of documents;">
                <div class="documents_box">
                    <div class="img_box center_img">
                        <img [src]="'data:image/jpg;base64,'+ doc.vignette" class="crop_img">
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </div>

</ion-content>