<ion-tabs>

    <ion-tab-bar class="animate__animated animate__fadeInUp" style="--animate-duration: .4s;" slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon class="zmdi zmdi-home"></ion-icon>
            <ion-label> Accueil </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="appointment">
            <ion-icon class="zmdi zmdi-calendar-check"></ion-icon>
            <ion-label>Rendez-Vous </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="photo">
            <ion-icon class="zmdi zmdi-camera"></ion-icon>
            <ion-label> Photos </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="account">
            <ion-icon class="zmdi zmdi-account"></ion-icon>
            <ion-label> Compte </ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>