<ion-content class="bg_blue_color">

    <div class="divBackImgWelcome">
        <div class="container-to-bottom">
            <div class="text">
                BIENVENUE
            </div>
            <div class="text">
                Chez B and Smile
            </div>
            <div class="btn-swipe">
                <button type="submit" (click)="next()">
                    <img src="assets/imgs/suivant.png" class="btnIcon" />
                </button>
            </div>
        </div>
    </div>

</ion-content>