ion-content {
    --background: var(--transparent);
}

ion-footer {
    background: var(--bg-blue-color);
    overflow: auto;
    height: 28vh;
    ion-list {
        background: var(--bg-blue-color);
        text-align: center;
        margin: 5px 10px;
        p {
            color: var(--text-light) !important;
        }
    }
}

.form {
    width: 100%;
    margin-top: 15px;
}

.error {
    font-size: 12px;
    color: var(--ion-color-danger);
    float: left;
}